export(gating_options)
export(get_fluorophore_patterns)
export(gate_positive_cells)
export(calc_residuals)
export(plot_scatter_rmse)
export(plot_marker_correlations)
export(plot_spectra)
export(build_reference_matrix)
export(create_autospectral_control_file)
export(unmix_with_autospectral)
export(derive_unmixing_matrix)
export(save_unmixing_matrix)
export(plot_unmixing_matrix)
export(plot_detector_residuals)
export(calculate_nps)
export(plot_nps)
export(calculate_ssm)
export(plot_ssm)
export(generate_qc_report)
export(refine_reference_matrix)
export(plot_scc_diagnostics)

# NEW Workflow Functions
export(inspect_scc_spectra)
export(generate_scc_report)
export(refine_scc_matrix)
export(unmix_samples)
export(generate_sample_qc)
